@import "css/tachyons.less";
#d4um-container{
	h1{
		color:pink;
	}
.pusher {
	background: white;
}
}
.Greeting{
}
.Greeting__header{
	.lightest-blue();
}
#guage{
	display:flex;
	flex-direction:column;
	justify-content:center;
	max-width: 314px;
	min-width: 314px;
	max-height:200px;
	align-items:center;
	/*color:black;*/
}
