@import "css/tachyons.less";
#d4um-container{
	background-color:black;
	h1{
		color:pink;
	}
.pusher {
	.bg-light-purple();
}
}
.Greeting{
}
.Greeting__header{
	.lightest-blue();
}
#guage{
	display:flex;
	flex-direction:column;
	justify-content:center;
	max-width: 314px;
	min-width: 314px;
	max-height:200px;
	align-items:center;
	/*color:black;*/
}
.SideOverlay{
	top: 85px;
	padding:10px;
	border:solid 5px black;
	.flex();
	align-items:center;
	.flex-column();
	backdrop-filter: blur(2px);
	background-color: white;
	font-size:12px;
	width:20vw;
	z-index:2;
	position:absolute;
	right:0px;
	overflow:hidden;
	border-radius:20px 20px 20px 20px;

	&__close{
		color:#4a4a4a;
		.f3();
		.pr2();
		.mr2();
		.mt2();
		color:white;
	}
	&__title{
		.f4();
		.ml2();
	}
	&__description{
	}
	&__type{
		.ml2();
		.f5();
	}
	&__time{
		.ml2();
	}
	&__date{
		.ml2();
	}
}
.Scatterplot{
	background-color:white;
	margin-top:20px;
	padding-top:10px;
	.ba();
	.bw1();
	.br4();
}
.Play{
	background-color:white;
	justify-content:center;
	.flex();
	.pa2();
	border-radius:10px;
	
	&__next{
		background-image: url("./assets/icons/next.svg");
		background-repeat: no-repeat;
		width:14px;
		height:14px;
		.ml2();
		.pt3();
		.pa2();
		.pr5();
		margin-top:10px;
	}
	&__prev{
		.mr3();
		margin-top:10px;
		background-image: url("./assets/icons/prev.svg");
		background-repeat: no-repeat;
		width:14px;
		height:14px;
		.pa2();
	}
	&__currentDate{
		.mr3();
		.f3();
		.pa2();
	}
	&__reset{
		margin-top:10px;
		width:17px;
		height:17px;
		background-image: url("./assets/icons/reload.svg");
		background-repeat: no-repeat;
		.pa2();
	}
}
.streets-v10{
	background-image: url("./assets/streets-v10.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.outdoors-v10{
	background-image: url("./assets/outdoors-v10.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.light-v9{
	background-image: url("./assets/light-v9.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.dark-v9{
	background-image: url("./assets/dark-v9.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.satellite-v9{
	background-image: url("./assets/satellite-v9.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.satellite-streets-v10{
	background-image: url("./assets/satellite-streets-v10.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.navigation-preview-day-v4{
	background-image: url("./assets/navigation-preview-day-v4.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.navigation-preview-night-v4{
	background-image: url("./assets/navigation-preview-night-v4.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.navigation-guidance-day-v4{
	background-image: url("./assets/navigation-guidance-day-v4.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.navigation-guidance-night-v4{
	background-image: url("./assets/navigation-guidance-night-v4.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.cjoiinpu74zx12st9k4rtfvju{
	background-image: url("./assets/cjoiinpu74zx12st9k4rtfvju.png");
	width:154px;
	height: 74px;
	border-radius:20px 20px 0px 0px;
}
.MapTile{
	display:flex;
	padding-right:20px;
	flex-direction:column;
	align-items:center;
}
.MapTile__title{
	width:154px;
	background-color:#333344;
	color:white;
	border-radius:0px 0px 20px 20px;
	display:flex;
	justify-content:center;
}
.MapTile__header{
	color:white;
}
.MapFilterContainer{
	display: flex;
	flex-direction: row;
	overflow:scroll;
}
.Map{
	border-radius:20px;
}
