@import "css/tachyons.less";
#d4um-container{
	h1{
		color:pink;
	}
.pusher {
	.bg-dark-blue();
}
}
.Greeting{
}
.Greeting__header{
	.lightest-blue();
}
#guage{
	display:flex;
	flex-direction:column;
	justify-content:center;
	max-width: 314px;
	min-width: 314px;
	max-height:200px;
	align-items:center;
	/*color:black;*/
}
.SideOverlay{
	.flex();
	.flex-column();
	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0.2);
	font-size:12px;
	width:20vw;
	z-index:2;
	position:absolute;
	right:0px;

	&__close{
		.self-end();
		color:#4a4a4a;
		.f3();
		.pr2();
		.mr2();
		.mt2();
		color:white;
	}
	&__description{
		.ml2();
		.mt2();
		.self-center();
		.serif();
	}
	&__title{
		.self-start();
		.f4();
		.ml2();
	}
	&__type{
		.self-start();
		.ml2();
		.f5();
	}
	&__time{
		.self-start();
		.ml2();
	}
	&__date{
		.self-start();
		.ml2();
	}
}
